<%= form_for @workout do |f| %>

<% if @workout.errors.any? %>
    <p> New Exercise Creation Failed: </p>
        
        <% @workout.errors.full_messages.each do |msg| %>
            <p style="color:red;"><%= msg %></p>
            <% end %>
       
<% end %><br>

  <%= f.label :workout_name %>
  <%= f.text_field :workout_name %><br><br>

  <%= f.label :workout_description %>
  <%= f.text_area :workout_description %><br><br>

  <%= f.fields_for :workout_exercises do |we| %>
    <%= we.label :sets %>
    <%= we.text_field :sets %>

    <%= we.label :repetitions %>
    <%= we.text_field :repetitions %>

    <%= we.fields_for :exercise do |e| %>
      <%= e.label :exercise_name %>
      <%= e.text_field :exercise_name %>
    <% end %><br>
  <% end %><br><br>

  <%= f.label :workout_instructions %>
  <%= f.text_area :workout_instructions %><br><br>

  <%= f.submit class: "btn btn-primary" %>
<% end %><br>
