<div class='container workouts-index'>
<h1>Pick A Workout!</h1><br>

<% if flash[:message] %>
<p style="color:red;"><%= flash[:message] %></p>
<% end %>


<% if @workouts.present? %>
  
  <% @workouts.each do |workout| %>
    <%= link_to workout.workout_name, workout_path(workout) %><br>
    <%= workout.workout_description %><br>
    by <%= link_to workout.user.username, user_path(workout.user) %> on <%= workout.date %><br>
    <br>
  <% end %>
  
<% else %>
  <p>There are currently no workouts.</p>
<% end %>

</div>
