<h1>Workouts</h1>

<% if flash[:message] %>
<%= flash[:message] %><br><br>
<% end %>


<% if @workouts.present? %>
  
  <% @workouts.each do |workout| %>
    <%= link_to workout.workout_name, workout_path(workout) %> created on <%= workout.date %><br>
    <%= workout.workout_description %><br>
    by <%= link_to workout.user.username, user_path(workout.user) %><br>
    <br>
  <% end %>
  
<% else %>
  <p>There are currently no workouts.</p>
<% end %>
