<div class="container workouts-show">
<h1><%= @workout.workout_name %></h1>

<% if flash[:message] %>
<%= flash[:message] %><br><br>
<% end %>

<h4>Workout by <%= link_to @workout.user.username, user_path(@workout.user) %></h4>

<h4>Average Rating: <%= @workout.reviews.average_rating %></h4> 

<h4>Summary:</h4>
    <p><%= @workout.workout_description %></p>

<h4>What exercises you'll need to perform:</h4>
    <table>
            <tr>
                <th>Exercise</th>
                <th>Sets</th>
                <th>Repetitions</th>
            </tr>

            <% @workout.workout_exercises.each do |we| %>
            <tr> 
                <td><%= we.exercise.exercise_name %></td>
                <td><%= we.sets %></td>
                <td><%= we.repetitions %></td>
            </tr>
             <% end %>
    </table>

<h4>How to get the most out of it:</h4>
    <p><%= @workout.workout_instructions %></p>


<h3>Reviews:</h3>
<%= review_count_label(@workout.reviews) %><br><br>
<% if @workout.reviews.present? %>
 
    <% @workout.reviews.most_recent(3).each do |review| %>
      
       Rated a <%= review.rating %> by <%= review.user.username %> on <%= review.date %> - <%= review.content %><br><br>
      
    <% end %>
  
<% end %>
<%=link_to "See All Reviews", workout_reviews_path(@workout.id), class: "btn btn-primary" %> <br><br>
<%=link_to "Write a New Review", new_workout_review_path(@workout.id), class: "btn btn-primary" %><br><br>

<% if @workout.user == current_user %>
  <%= link_to "Edit Workout", edit_workout_path(@workout), class: "btn btn-primary" %>
  <%= link_to "Delete Workout", workout_path(@workout), method: :delete, class: "btn btn-primary"  %>
<% end %>
</div>
