<h1>Add a Review for <%= @workout.workout_name %></h1>

<%= form_for [@workout, @review] do |f| %>

<% if @review.errors.any? %>
<h2>There were some errors: </h2>
    <ul>
        <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
<% end %>

<div>
    <%= f.label :rating, "Rating from 1-5"%>
    <%= f.number_field :rating, min: 0, max: 5%>
</div><br>
<div>
    <%= f.label :content, "Review" %>
    <%= f.text_area :content%>
</div>
<br>

<%= f.submit %>
<% end %>
